<h2>All Posts</h2>
<ul>
<% @posts.each do |post| %>
 <li>
   <a href="/post/<%= post.id %>"><%= post.title %></a> | <%= post.created_at %> | Posted By: <%= post.user.username %>
 </li>
<% end %>
</ul>