<div id="signup" class="bg">
<div class="container form-group">
    <br>
    <h1 class="text-center">Sign Up</h1> <p class="text-center">Get plugged in to the biggest music blogging community.</p>
    <br>
<form action="/sign-up" method="post">
  <input type="text" name="firstname" id="firstname" placeholder="First Name">
    <br><br>
  <input type="text" name="lastname" id="lastname" placeholder="Last Name">
    <br><br>
  <input type="date" name="bday" id="bday" placeholder="Birthday">
    <br><br>
  <input type="text" name="username" id="username" placeholder="Username">
    <br><br>
  <input type="password" name="password" id="password" placeholder="Password">
    <br><br>
    <input class="form-control" type="text" name="fav_artist" id="fav_artist" placeholder="Favorite Artists">
    <br>
    <input class="form-control" type="text" name="instrument" id="instrument" placeholder="Instruments Played">
    <br><br>
  <input type="submit" value="Let's GO!">
</form>
    </div>
</div>