
<div class="bg">
<div id="form" class="container">
<h1 class="text-light">Sign In</h1>
<br>
<form action="/sign-in" method="post">
  <input type="text" name="username" id="username" placeholder="Username">
    <br><br>
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="submit" value="Go">
</form>
</div>
</div>
