body, html {
    height: 100%;
}
.bg { 
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) ), url(/images/home5.jpg);

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}                    
              
li a {
    float: left;
}

#form{
    padding-top:70px;
}

.form-group {
    padding-left:25px;
}

#signup {
    background-image: url(/images/signup.jpg);
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#textboxid
{
    height:200px;
    font-size:14pt;
}

.homepage {
    background-color: yellowgreen;
}
