body, html {
    height: 100%;
}
.bg { 
    /* The image used */
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/home5.jpg);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}                    
              
li a {
    float: left;
}

#navbarSupportedContent {
    margin-left: 35%;
 }

#form{
    padding-top:70px;
}

.form-group {
    padding-left:25px;
}

#signup {
    background-image: url(/images/signup.jpg);
     /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#textboxid
{
    height:200px;
    font-size:14pt;
}

